
@{
    Layout = "~/Views/Shared/Medicr_Index.cshtml";
            }



<!DOCTYPE html>
<html lang="zxx">
<head>

    <!-- ** Basic Page Needs ** -->
    <meta charset="utf-8">
    <title>Medic | Medical HTML Template</title>

    <!-- ** Mobile Specific Metas ** -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Medical HTML Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="author" content="Themefisher">
    <meta name="generator" content="Themefisher Medical HTML Template v1.0">

    <!-- theme meta -->
    <meta name="theme-name" content="medic" />

    <!-- ** Plugins Needed for the Project ** -->
    <!-- bootstrap -->

    <link rel="stylesheet" href="~/source/plugins/bootstrap/bootstrap.min.css">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="~/source/plugins/slick/slick.css">
    <link rel="stylesheet" href="~/source/plugins/slick/slick-theme.css">
    <!-- FancyBox -->
    <link rel="stylesheet" href="~/source/plugins/fancybox/jquery.fancybox.min.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="~/source/plugins/fontawesome/css/all.min.css">
    <!-- animate.css -->
    <link rel="stylesheet" href="~/source/plugins/animation/animate.min.css">
    <!-- jquery-ui -->
    <link rel="stylesheet" href="~/source/plugins/jquery-ui/jquery-ui.css">
    <!-- timePicker -->
    <link rel="stylesheet" href="~/source/plugins/timePicker/timePicker.css">

    <!-- Stylesheets -->
    <link href="~/theme/css/style.css" rel="stylesheet">

    <!--Favicon-->
    <link rel="icon" href="~/source/images/favicon.png" type="image/x-icon">

</head>


<body>
    <div class="page-wrapper">

      

        <!--=================================
        =            Page Slider            =
        ==================================-->
        <div class="hero-slider">
            <!-- Slider Item -->
            <div class="slider-item slide1" style="background-image:url(~/wwwroot/source/images/slider/slider-bg-1.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <!-- Slide Content Start -->
                            <div class="content style text-center">
                                <h2 class="text-white text-bold mb-2" data-animation-in="slideInLeft">Our Best Surgeons</h2>
                                <p class="tag-text mb-4" data-animation-in="slideInRight">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel sunt animi sequi ratione quod at earum. <br> Quis quos officiis numquam!</p>
                                <a href="~/source/about.html" class="btn btn-main btn-white" data-animation-in="slideInLeft" data-duration-in="1.2">explore</a>
                            </div>
                            <!-- Slide Content End -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slider Item -->
            <div class="slider-item" style="background-image: url(~/wwwroot/source/images/slider/slider-bg-2.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <!-- Slide Content Start-->
                            <div class="content style text-center">
                                <h2 class="text-white" data-animation-in="slideInRight">We Care About Your Health</h2>
                                <p class="tag-text mb-4" data-animation-in="slideInRight" data-duration-in="0.6">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                                <a href="~/source/about.html" class="btn btn-main btn-white" data-animation-in="slideInRight" data-duration-in="1.2">about us</a>
                            </div>
                            <!-- Slide Content End-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slider Item -->
            <div class="slider-item" style="background-image:url(~/wwwroot/slider/slider-bg-1.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <!-- Slide Content Start -->
                            <div class="content text-center style">
                                <h2 class="text-white text-bold mb-2" data-animation-in="slideInRight">Best Medical Services</h2>
                                <p class="tag-text mb-4" data-animation-in="slideInLeft">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae deserunt, <br>eius pariatur minus itaque nostrum.</p>
                                <a href="~/source/about.html" class="btn btn-main btn-white" data-animation-in="slideInRight" data-duration-in="1.2">shop now</a>
                            </div>
                            <!-- Slide Content End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--====  End of Page Slider  ====-->

        <section class="cta">
            <div class="container">
                <div class="cta-block row no-gutters">
                    <div class="col-lg-4 col-md-6 emmergency item">
                        <i class="fa fa-phone"></i>
                        <h2>Emegency Cases</h2>
                        <a href="tel:1-800-700-6200">1-800-700-6200</a>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                    </div>
                    <div class="col-lg-4 col-md-6 top-doctor item">
                        <i class="fa fa-stethoscope"></i>
                        <h2>24 Hour Service</h2>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore dignissimos officia dicta suscipit
                            vel eum
                        </p>
                        <a href="~/source/service.html" class="btn btn-main">Read more</a>
                    </div>
                    <div class="col-lg-4 col-md-12 working-time item">
                        <i class="fa fa-hourglass-o"></i>
                        <h2>Working Hours</h2>
                        <ul class="w-hours">
                            <li>Mon - Sun  - <span>8:00 - 17:00</span></li>
                            <li>Mon - Sun  - <span>8:00 - 17:00</span></li>
                            <li>Mon - Sun  - <span>8:00 - 17:00</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!--about section-->
        <section class="feature-section section bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="image-content">
                            <div class="section-title text-center">
                                <h3>Best Features <span>of Our Hospital</span></h3>
                                <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam magni in at debitis <br> nam error officia vero tempora alias? Sunt?</p>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="item">
                                        <div class="icon-box">
                                            <figure>
                                                <a href="~/source/services.html"><img loading="lazy" src="~/source/images/resource/1.png" alt="features image"></a>
                                            </figure>
                                        </div>
                                        <h3 class="mb-2">Orthopedics</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ducimus veniam illo quibusdam pariatur
                                            ex sunt, est aspernatur
                                            at debitis eius vitae vel nostrum dolorem labore autem corrupti odit mollitia?
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="item">
                                        <div class="icon-box">
                                            <figure>
                                                <a href="~/source/services.html">
                                                    <img loading="lazy" src="~/source/images/resource/2.png" alt="features image">
                                                </a>
                                            </figure>
                                        </div>
                                        <h3 class="mb-2">Diaginostic</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ducimus veniam illo quibusdam pariatur
                                            ex sunt, est aspernatur
                                            at debitis eius vitae vel nostrum dolorem labore autem corrupti odit mollitia?
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="item">
                                        <div class="icon-box">
                                            <figure>
                                                <a href="~/source/services.html">
                                                    <img loading="lazy" src="~/source/images/resource/3.png" alt="features image">
                                                </a>
                                            </figure>
                                        </div>
                                        <h3 class="mb-2">Psycology</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ducimus veniam illo quibusdam pariatur
                                            ex sunt, est aspernatur
                                            at debitis eius vitae vel nostrum dolorem labore autem corrupti odit mollitia?
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="item">
                                        <div class="icon-box">
                                            <figure>
                                                <a href="services.html">
                                                    <img loading="lazy" src="~/source/images/resource/4.png" alt="features image">
                                                </a>
                                            </figure>
                                        </div>
                                        <h3 class="mb-2">General Treatment</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ducimus veniam illo quibusdam pariatur
                                            ex sunt, est aspernatur
                                            at debitis eius vitae vel nostrum dolorem labore autem corrupti odit mollitia?
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End about section-->
        <!--Start about us area-->
        <section class="service-tab-section section">
            <div class="outer-box clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Nav tabs -->
                            <div class="tabs mb-5">
                                <ul class="nav nav-tabs justify-content-center" id="aboutTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link active" id="dormitory-tab" data-toggle="tab" href="#dormitory" role="tab" aria-controls="dormitory" aria-selected="true">dormitory</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="orthopedic-tab" data-toggle="tab" href="#orthopedic" role="tab" aria-controls="orthopedic" aria-selected="false">orthopedic</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="sonogram-tab" data-toggle="tab" href="#sonogram" role="tab" aria-controls="sonogram" aria-selected="false">sonogram</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="x-ray-tab" data-toggle="tab" href="#x-ray" role="tab" aria-controls="x-ray" aria-selected="false">x-ray</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="diagnostic-tab" data-toggle="tab" href="#diagnostic" role="tab" aria-controls="diagnostic" aria-selected="false">diagnostic</a>
                                    </li>
                                </ul>
                            </div>
                            <!--Start single tab content-->
                            <div class="tab-content" id="aboutTab">
                                <div class="service-box tab-pane fade show active" id="dormitory">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <img loading="lazy" class="img-fluid" src="~/source/images/services/service-one.jpg" alt="service-image">
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="contents">
                                                <div class="section-title">
                                                    <h3>dormitory</h3>
                                                </div>
                                                <div class="text">
                                                    <p>
                                                        The implant fixture is first placed, so that it ilikely to osseointegrate,
                                                        then a dental prosthetic is added. then a
                                                        dental prosthetic is added.then a dental pros- thetic is added.
                                                    </p>
                                                    <p>
                                                        The implant fixture is first placed, so that it ilikely to osseointegrate,
                                                        then a dental prosthetic is added. then a dental
                                                        prosthetic is added.then a dental pros- thetic is added.
                                                    </p>
                                                </div>
                                                <ul class="content-list">
                                                    <li>
                                                        <i class="far fa-dot-circle"></i>Whitening is among the most popular dental
                                                    </li>
                                                    <li>
                                                        <i class="far fa-dot-circle"></i>Teeth cleaning is part of oral hygiene and
                                                        involves
                                                    </li>
                                                    <li>
                                                        <i class="far fa-dot-circle"></i>Teeth cleaning is part of oral hygiene and
                                                        involves
                                                    </li>
                                                </ul>
                                                <a href="services.html" class="btn btn-style-one">Read more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End single tab content-->
                                <!--Start single tab content-->
                                <div class="service-box tab-pane fade" id="orthopedic">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <img loading="lazy" class="img-fluid" src="~/source/images/services/service-two.jpg" alt="service-image">
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="contents">
                                                <div class="section-title">
                                                    <h3>orthopedic</h3>
                                                </div>
                                                <div class="text">
                                                    <p>
                                                        The implant fixture is first placed, so that it ilikely to osseointegrate,
                                                        then a dental prosthetic is added.
                                                        then a dental prosthetic is added.then a dental pros- thetic is added.
                                                    </p>
                                                    <p>
                                                        The implant fixture is first placed, so that it ilikely to osseointegrate,
                                                        then a dental prosthetic is added.
                                                        then a dental prosthetic is added.then a dental pros- thetic is added.
                                                    </p>
                                                </div>
                                                <ul class="content-list">
                                                    <li>
                                                        <i class="far fa-dot-circle"></i>Whitening is among the most popular dental
                                                    </li>
                                                    <li>
                                                        <i class="far fa-dot-circle"></i>Teeth cleaning is part of oral hygiene and
                                                        involves
                                                    </li>
                                                    <li>
                                                        <i class="far fa-dot-circle"></i>Teeth cleaning is part of oral hygiene and
                                                        involves
                                                    </li>
                                                </ul>
                                                <a href="services.html" class="btn btn-style-one">Read more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End single tab content-->
                                <!--Start single tab content-->
                                <div class="service-box tab-pane fade" id="sonogram">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <img loading="lazy" class="img-fluid" src="~/source/images/services/service-three.jpg" alt="service-image">
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="contents">
                                                <div class="section-title">
                                                    <h3>sonogram</h3>
                                                </div>
                                                <div class="text">
                                                    <p>
                                                        The implant fixture is first placed, so that it ilikely to osseointegrate,
                                                        then a dental prosthetic is added.
                                                        then a dental prosthetic is added.then a dental pros- thetic is added.
                                                    </p>
                                                    <p>
                                                        The implant fixture is first placed, so that it ilikely to osseointegrate,
                                                        then a dental prosthetic is added.
                                                        then a dental prosthetic is added.then a dental pros- thetic is added.
                                                    </p>
                                                </div>
                                                <ul class="content-list">
                                                    <li>
                                                        <i class="far fa-dot-circle"></i>Whitening is among the most popular dental
                                                    </li>
                                                    <li>
                                                        <i class="far fa-dot-circle"></i>Teeth cleaning is part of oral hygiene and
                                                        involves
                                                    </li>
                                                    <li>
                                                        <i class="far fa-dot-circle"></i>Teeth cleaning is part of oral hygiene and
                                                        involves
                                                    </li>
                                                </ul>
                                                <a href="services.html" class="btn btn-style-one">Read more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End single tab content-->
                                <!--Start single tab content-->
                                <div class="service-box tab-pane fade" id="x-ray">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <img loading="lazy" class="img-fluid" src="~/source/images/services/service-four.jpg" alt="service-image">
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="contents">
                                                <div class="section-title">
                                                    <h3>x-ray</h3>
                                                </div>
                                                <div class="text">
                                                    <p>
                                                        The implant fixture is first placed, so that it ilikely to osseointegrate,
                                                        then a dental prosthetic is added.
                                                        then a dental prosthetic is added.then a dental pros- thetic is added.
                                                    </p>
                                                    <p>
                                                        The implant fixture is first placed, so that it ilikely to osseointegrate,
                                                        then a dental prosthetic is added.
                                                        then a dental prosthetic is added.then a dental pros- thetic is added.
                                                    </p>
                                                </div>
                                                <ul class="content-list">
                                                    <li>
                                                        <i class="far fa-dot-circle"></i>Whitening is among the most popular dental
                                                    </li>
                                                    <li>
                                                        <i class="far fa-dot-circle"></i>Teeth cleaning is part of oral hygiene and
                                                        involves
                                                    </li>
                                                    <li>
                                                        <i class="far fa-dot-circle"></i>Teeth cleaning is part of oral hygiene and
                                                        involves
                                                    </li>
                                                </ul>
                                                <a href="services.html" class="btn btn-style-one">Read more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End single tab content-->
                                <!--Start single tab content-->
                                <div class="service-box tab-pane fade" id="diagnostic">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <img loading="lazy" class="img-fluid" src="~/source/images/services/service-five.jpg" alt="service-image">
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="contents">
                                                <div class="section-title">
                                                    <h3>diagnostic</h3>
                                                </div>
                                                <div class="text">
                                                    <p>
                                                        The implant fixture is first placed, so that it ilikely to osseointegrate,
                                                        then a dental prosthetic is added.
                                                        then a dental prosthetic is added.then a dental pros- thetic is added.
                                                    </p>
                                                    <p>
                                                        The implant fixture is first placed, so that it ilikely to osseointegrate,
                                                        then a dental prosthetic is added.
                                                        then a dental prosthetic is added.then a dental pros- thetic is added.
                                                    </p>
                                                </div>
                                                <ul class="content-list">
                                                    <li>
                                                        <i class="far fa-dot-circle"></i>Whitening is among the most popular dental
                                                    </li>
                                                    <li>
                                                        <i class="far fa-dot-circle"></i>Teeth cleaning is part of oral hygiene and
                                                        involves
                                                    </li>
                                                    <li>
                                                        <i class="far fa-dot-circle"></i>Teeth cleaning is part of oral hygiene and
                                                        involves
                                                    </li>
                                                </ul>
                                                <a href="services.html" class="btn btn-style-one">Read more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End single tab content-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End about us area-->
        <!--Service Section-->
        <section class="service-section bg-gray section">
            <div class="container">
                <div class="section-title text-center">
                    <h3>
                        Provided
                        <span>Services</span>
                    </h3>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet. qui suscipit atque <br>
                        fugiat officia corporis rerum eaque neque totam animi, sapiente culpa. Architecto!
                    </p>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="items-container">
                            <div class="item">
                                <div class="inner-box">
                                    <div class="img_holder">
                                        <a href="service.html">
                                            <img loading="lazy" src="~/source/images/gallery/1.jpg" alt="images" class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="image-content text-center">
                                        <span>Better Service At Low Cost</span>
                                        <a href="service.html">
                                            <h6>Dormitory</h6>
                                        </a>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, vero.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="inner-box">
                                    <div class="img_holder">
                                        <a href="service.html">
                                            <img loading="lazy" src="~/source/images/gallery/2.jpg" alt="images" class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="image-content text-center">
                                        <span>Better Service At Low Cost</span>
                                        <a href="service.html">
                                            <h6>Germs Protection</h6>
                                        </a>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, vero.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="inner-box">
                                    <div class="img_holder">
                                        <a href="service.html">
                                            <img loading="lazy" src="~/source/images/gallery/3.jpg" alt="images" class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="image-content text-center">
                                        <span>Better Service At Low Cost</span>
                                        <a href="service.html">
                                            <h6>Psycology</h6>
                                        </a>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, vero.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="inner-box">
                                    <div class="img_holder">
                                        <a href="service.html">
                                            <img loading="lazy" src="~/source/images/gallery/1.jpg" alt="images" class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="image-content text-center">
                                        <span>Better Service At Low Cost</span>
                                        <a href="service.html">
                                            <h6>Dormitory</h6>
                                        </a>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, vero.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="inner-box">
                                    <div class="img_holder">
                                        <a href="service.html">
                                            <img loading="lazy" src="~/source/images/gallery/2.jpg" alt="images" class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="image-content text-center">
                                        <span>Better Service At Low Cost</span>
                                        <a href="service.html">
                                            <h6>Germs Protection</h6>
                                        </a>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, vero.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="inner-box">
                                    <div class="img_holder">
                                        <a href="service.html">
                                            <img loading="lazy" src="~/source/images/gallery/3.jpg" alt="images" class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="image-content text-center">
                                        <span>Better Service At Low Cost</span>
                                        <a href="service.html">
                                            <h6>Psycology</h6>
                                        </a>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, vero.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Service Section-->
        <!--team section-->
        @*<section class="team-section section">
                <div class="container">
                    <div class="section-title text-center">
                        <h3>
                            Our Expert
                            <span>Doctors</span>
                        </h3>
                        <p class="mb-0">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem illo, rerum
                            <br>natus nobis deleniti doloremque minima odit voluptatibus ipsam animi?
                        </p>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6">
                            <div class="team-member">
                                <img loading="lazy" src="~/source/images/team/doctor-2.jpg" alt="doctor" class="img-fluid">
                                <div class="contents text-center">
                                    <h4>Dr. Robert Barrethion</h4>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos, aspernatur.</p>
                                    <a href="appointment.html" class="btn btn-main">Book Appointment</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="team-member">
                                <img loading="lazy" src="~/source/images/team/doctor-lab-3.jpg" alt="doctor" class="img-fluid">
                                <div class="contents text-center">
                                    <h4>Dr. Marry Lou</h4>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos, aspernatur.</p>
                                    <a href="appointment.html" class="btn btn-main">Book Appointment</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="team-member">
                                <img loading="lazy" src="~/source/images/team/event-2.jpg" alt="doctor" class="img-fluid">
                                <div class="contents text-center">
                                    <h4>Dr. Sansa Stark</h4>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos, aspernatur.</p>
                                    <a href="appointment.html" class="btn btn-main">Book Appointment</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>*@
        <!--End team section-->
        <!--testimonial-section-->
        <section class="testimonial-section" style="background: url(images/testimonials/1.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center">
                            <h3>
                                What Our
                                <span>Patients Says</span>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="testimonial-carousel">
                            <!--Slide Item-->
                            <div class="slide-item">
                                <div class="inner-box text-center">
                                    <div class="image-box">
                                        <figure>
                                            <img loading="lazy" src="~/source/images/testimonials/1.png" alt="">
                                        </figure>
                                    </div>
                                    <h6>Adam Rose</h6>
                                    <p class="mb-0">
                                        Neque porro quisquam est, qui dolorem ipsum quia consectetur, dolor sit amet, consectetur, numquam Lorem
                                        ipsum dolor sit amet consectetur adipisicing elit. Molestias, at?
                                    </p>
                                </div>
                            </div>
                            <!--Slide Item-->
                            <div class="slide-item">
                                <div class="inner-box text-center">
                                    <div class="image-box">
                                        <figure>
                                            <img loading="lazy" src="~/source/images/testimonials/2.png" alt="">
                                        </figure>
                                    </div>
                                    <h6>David Warner</h6>
                                    <p class="mb-0">
                                        Neque porro quisquam est, qui dolorem ipsum quia consectetur, dolor sit amet, consectetur, numquam Lorem
                                        ipsum dolor sit amet consectetur adipisicing elit. Molestias, at?
                                    </p>
                                </div>
                            </div>
                            <!--Slide Item-->
                            <div class="slide-item">
                                <div class="inner-box text-center">
                                    <div class="image-box">
                                        <figure>
                                            <img loading="lazy" src="~/source/images/testimonials/3.png" alt="">
                                        </figure>
                                    </div>
                                    <h6>Amy Adams</h6>
                                    <p class="mb-0">
                                        Neque porro quisquam est, qui dolorem ipsum quia consectetur, dolor sit amet, consectetur, numquam Lorem
                                        ipsum dolor sit amet consectetur adipisicing elit. Molestias, at?
                                    </p>
                                </div>
                            </div>
                            <!--Slide Item-->
                            <div class="slide-item">
                                <div class="inner-box text-center">
                                    <div class="image-box">
                                        <figure>
                                            <img loading="lazy" src="~/source/images/testimonials/1.png" alt="">
                                        </figure>
                                    </div>
                                    <h6>Adam Rose</h6>
                                    <p class="mb-0">
                                        Neque porro quisquam est, qui dolorem ipsum quia consectetur, dolor sit amet, consectetur, numquam Lorem
                                        ipsum dolor sit amet consectetur adipisicing elit. Molestias, at?
                                    </p>
                                </div>
                            </div>
                            <!--Slide Item-->
                            <div class="slide-item">
                                <div class="inner-box text-center">
                                    <div class="image-box">
                                        <figure>
                                            <img loading="lazy" src="~/source/images/testimonials/2.png" alt="">
                                        </figure>
                                    </div>
                                    <h6>David Warner</h6>
                                    <p class="mb-0">
                                        Neque porro quisquam est, qui dolorem ipsum quia consectetur, dolor sit amet, consectetur, numquam Lorem
                                        ipsum dolor sit amet consectetur adipisicing elit. Molestias, at?
                                    </p>
                                </div>
                            </div>
                            <!--Slide Item-->
                            <div class="slide-item">
                                <div class="inner-box text-center">
                                    <div class="image-box">
                                        <figure>
                                            <img loading="lazy" src="~/source/images/testimonials/3.png" alt="">
                                        </figure>
                                    </div>
                                    <h6>Amy Adams</h6>
                                    <p class="mb-0">
                                        Neque porro quisquam est, qui dolorem ipsum quia consectetur, dolor sit amet, consectetur, numquam Lorem
                                        ipsum dolor sit amet consectetur adipisicing elit. Molestias, at?
                                    </p>
                                </div>
                            </div>
                            <!--Slide Item-->
                            <div class="slide-item">
                                <div class="inner-box text-center">
                                    <div class="image-box">
                                        <figure>
                                            <img loading="lazy" src="~/source/images/testimonials/1.png" alt="">
                                        </figure>
                                    </div>
                                    <h6>Adam Rose</h6>
                                    <p class="mb-0">
                                        Neque porro quisquam est, qui dolorem ipsum quia consectetur, dolor sit amet, consectetur, numquam Lorem
                                        ipsum dolor sit amet consectetur adipisicing elit. Molestias, at?
                                    </p>
                                </div>
                            </div>
                            <!--Slide Item-->
                            <div class="slide-item">
                                <div class="inner-box text-center">
                                    <div class="image-box">
                                        <figure>
                                            <img loading="lazy" src="~/source/images/testimonials/2.png" alt="">
                                        </figure>
                                    </div>
                                    <h6>David Warner</h6>
                                    <p class="mb-0">
                                        Neque porro quisquam est, qui dolorem ipsum quia consectetur, dolor sit amet, consectetur, numquam Lorem
                                        ipsum dolor sit amet consectetur adipisicing elit. Molestias, at?
                                    </p>
                                </div>
                            </div>
                            <!--Slide Item-->
                            <div class="slide-item">
                                <div class="inner-box text-center">
                                    <div class="image-box">
                                        <figure>
                                            <img loading="lazy" src="~/source/images/testimonials/3.png" alt="">
                                        </figure>
                                    </div>
                                    <h6>Amy Adams</h6>
                                    <p class="mb-0">
                                        Neque porro quisquam est, qui dolorem ipsum quia consectetur, dolor sit amet, consectetur, numquam Lorem
                                        ipsum dolor sit amet consectetur adipisicing elit. Molestias, at?
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End testimonial-section-->
        <!-- Contact Section -->
        <!--<section class="appoinment-section section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="accordion-section">
                            <div class="section-title">
                                <h3>FAQ</h3>
                            </div>
                            <div class="accordion-holder">
                                <div class="accordion" id="accordionGroup" role="tablist" aria-multiselectable="true">
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingOne">
                                            <h4 class="card-title">
                                                <a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Why Should I choose Medical Health
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordionGroup">
                                            <div class="card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
                                                officia aute,
                                                non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                                tempor,
                                                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                                helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                                vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                                haven't
                                                heard of them accusamus labore sustainable VHS.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingTwo">
                                            <h4 class="card-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapseTwo"
                                                   aria-expanded="false" aria-controls="collapseTwo">
                                                    What are the Centre’s visiting hours?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordionGroup">
                                            <div class="card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
                                                officia aute,
                                                non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                                tempor,
                                                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                                helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                                vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                                haven't
                                                heard of them accusamus labore sustainable VHS.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingThree">
                                            <h4 class="card-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapseThree"
                                                   aria-expanded="false" aria-controls="collapseThree">
                                                    How many visitors are allowed?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordionGroup">
                                            <div class="card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
                                                officia aute,
                                                non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                                tempor,
                                                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                                helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                                vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                                haven't
                                                heard of them accusamus labore sustainable VHS.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
        @*// Yahan Render Section Lagana Hain*@



        @*<div class="col-lg-6">
                <div class="contact-area pl-0 pl-lg-5">
                    <div class="section-title">
                        <h3>
                            Request
                            <span>Appointment</span>
                        </h3>
                    </div>
                    <form name="contact_form" class="default-form contact-form" action="!#" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="Name" placeholder="Name" required="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="email" name="Email" placeholder="Email" required="">
                                </div>
                                <div class="form-group">
                                    <select class="form-control" name="subject">
                                        <option>Departments</option>
                                        <option>Diagnostic</option>
                                        <option>Psychological</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="Phone" placeholder="Phone" required="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" name="Date" placeholder="Date" required="" id="datepicker" autocomplete="off">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" name="subject">
                                        <option>Doctor</option>
                                        <option>Diagnostic</option>
                                        <option>Psychological</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control" name="form_message" placeholder="Your Message" required=""></textarea>
                                </div>
                                <div class="form-group text-center">
                                    <button type="submit" class="btn-style-one">submit now</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>*@




        <!--</div>
            </div>
        </section>-->
        <!-- End Contact Section -->
        <!--footer-main-->
     
        <!--End footer-main-->
        <!-- scroll-to-top -->
        <div id="back-to-top" class="back-to-top">
            <i class="fa fa-angle-up"></i>
        </div>

    </div>
    <!--End pagewrapper-->
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target=".header-top">
        <span class="icon fa fa-angle-up"></span>
    </div>


    <!-- jquery -->
    <script src="~/source/plugins/jquery.min.js"></script>
    <!-- bootstrap -->
    <script src="~/source/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- Slick Slider -->
    <script src="~/source/plugins/slick/slick.min.js"></script>
    <script src="~/source/plugins/slick/slick-animation.min.js"></script>
    <!-- FancyBox -->
    <script src="~/source/plugins/fancybox/jquery.fancybox.min.js" defer></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU" defer></script>
    <script src="~/source/plugins/google-map/gmap.js" defer></script>

    <!-- jquery-ui -->
    <script src="~/source/plugins/jquery-ui/jquery-ui.js" defer></script>
    <!-- timePicker -->
    <script src="~/source/plugins/timePicker/timePicker.js" defer></script>

    <!-- script js -->
    <script src="~/source/js/script.js"></script>
</body>

</html>