// Colors Utilities
$color-default: #007bff;
$color-white: #ffffff;
$bd-color-default: 1px solid rgba(70, 95, 145, 0.2);

// Fonts Family
$font-family-ibm: "IBM Plex Sans", sans-serif;
$font-family-poppins: "Poppins", sans-serif;
$font-family-roboto: "Roboto", sans-serif;
$font-family-open-sans: "Open Sans", sans-serif;
$font-family-lato: "Lato", sans-serif;
$font-family-rubik: "Rubik", sans-serif;
$font-family-system: -apple-system, BlinkMacSystemFont, "Inter UI", Roboto, sans-serif;

// Fonts Weight
$font-weight-ligh: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;